body{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background:url('../img/blackjack.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;

}

body > *{
    margin: 0 auto;
    padding: 10px;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style:italic ;

}

button{
    background-color: goldenrod;
    width: 200px;
    color: green;
    font-weight: bold;
    border: none;
    padding: 10px  20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
    border-radius:5px ;
    font-size: 1.2rem;
    font-weight: bold;
}

button:hover{
    background-color: gold;
    border: 1px solid lightgreen;
}