body{
    background: url('https://source.unsplash.com/random/?station,subway-station,train-station');
    background-size: cover;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
   border: none;
   padding: 10px 0;
   color: white;
   font-weight: bold;
   width: 200px;
   margin-bottom: 5px; 
   border-radius: 5px;
   transition: transform 0.3s;
   text-transform: uppercase;

}
button:hover{
    border: 2px solid #000;
    transform: scale(0.97);
}

#increment-btn{ 
    background-color: darkred;
}

#save-btn{
background-color: darkgreen;
}

.container{
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border:1px solid #f2f2f2 ;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px 0px rgba(0,255,0.5);
}

.container img{
    background-size: cover;
    width: 100%;
    border-radius: 10px;
}

.container button{
    background-color: darkgray;
    font-size: 1.05rem ;
    border: none;
}
.container button:hover{
    background-color: gray;
}
@keyframes bigError {
    0%{
        transform: scale(0.5);
    }
    /* 50%{
        transform: scale(1);
    } */
    100%{
        transform: scale(5);
    }

}

#error{
    font-size: 0.3em;
    display: none;
    background-color: red;
    margin: 10px auto;
    padding: 10px;
    width: 100px;
    color: white;
    border-radius: 10px;
    animation: bigError 0.7s infinite ;
}


#num-el,#sum-el{
display: inline-block;
width: 100px;
margin: 10px 2px;
border: none ;
border-bottom: 2px solid grey;
outline: none;
text-align: center;
}

a{
    width: 300px;
    display: block;
    color: white;
    background-color: red;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    text-decoration: none;
}



